<!DOCTYPE html>
<html>
  <head>
    <!--full_title can be found in app/helpers/application_helper.rb -->
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
	<!--The yield command inserts html into the body of the layout. -->
    <%= yield %>
  </body>
</html>

